* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #363535;
}

/* display flex and grid requirements starts here */
html,
body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  display: grid;
  justify-content: center;
  position: relative; /* for sticky */
}

/* for sticky requirement */
header {
  position: sticky;
  top: 0;
}

h1 {
  font-size: 2rem;
}
#message {
  resize: none;
}

#about,
#projects,
#contact,
header,
footer {
  max-width: 1200px;
}

#about,
#projects,
#contact {
  padding: 0 70px 0 70px;
}

#about,
#projects,
#contact,
footer,
.card {
  margin-top: 25px;
}

header {
  background-color: #eceef9;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  margin: 20px;
  
}
.nav-link,
.menu-item > a,
.contact-item > a {
  text-decoration: none;
}

.nav-link{
  font-weight: 700;
  font-size: 1.25rem;
}

.card-text,
.about-text {
  margin-top: 10px;
  margin-bottom: 20px;
}
.about-text > p {
  padding-top: 10px;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.intro {
  margin-top: 25px;
  margin-bottom: 10px;
}
.intro > p {
  margin-left: 30px;
  font-size: 1.5rem;
}
.about-text > p {
  text-align: justify;
  text-indent: 40px;
  padding: 10px;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.btn {
  background-color: darkgreen;
  border: solid 2px darkgreen;
  border-radius: 5px;
  color: whitesmoke;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* hover effects here */
.btn:hover {
  background-color: darkorange;
}
.nav-link:hover,
.menu-item > a:hover,
.contact-item > a:hover,
.fa-github:hover,
.fa-linkedin:hover {
  color: darkorange;
}

.fieldset {
  padding: 10px;
}
fieldset {
  margin: 10px;
}

footer {
  padding: 10px 0 0 10px;
  background-color: #eceef9;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "f-menu f-socials f-contact"
    "copyright copyright copyright";
}
.footer-menu {
  display: flex;
  flex-direction: column;
  grid-area: f-menu;
}
.footer-socials {
  display: flex;
  flex-direction: row;
  grid-area: f-socials;
}
.footer-contact {
  display: flex;
  flex-direction: column;
  grid-area: f-contact;
}
.copyright {
  grid-area: copyright;
  display: grid;
  place-items: center;
}
.menu-list,
.social-list,
.contact-list {
  text-decoration: none;
  list-style: none;
}
.menu-item {
  text-align: center;
}
.social-item {
  padding: 5px;
}

.fa-linkedin {
  font-size: 30px;
  color: rgb(18, 81, 145);
}
.fa-github {
  font-size: 30px;
  color: rgb(21, 40, 60);
}
.social-list {
  display: flex;
  width: 140px;
  flex-direction: row;
  justify-content: center;
}

@media (min-width: 400px) {
  #about,
  #projects,
  #contact {
    padding: 0 30px 0 30px;
  }
}
